body {
    background-image: url(img/IMG-20250101-WA0087.jpg);
    background-position: center top;
    background-size: 100% auto;
}

.text {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    padding: 3vw;
    margin: 5vw;
}

p {
    color: ghostwhite;
    font-family: cursive;
}

.galery {
    display: grid;
    place-items: center;
}

img {
    margin: 0.5vw;
    border-radius: 2vw;
    border-color: black;
    border-width: 0.8vw;
    border-style: groove;
    width: 20vw;
}